body{
    background-image: url(../img/pachuca.jpg); 
    background-position: center;
    background-image: no-repeat;
    background-attachment: fixed;
    background-size: cover;


}

.imagen-principal{
	display: block;
	text-align: center;
	vertical-align: text-top;

}

.imagen-principal img{
    width: 50%;
	height: 50%;
	text-align: center;
	border-radius: 10%;
	box-shadow: 3px 3px 5px #999;

}
h1{
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; 
	font-size: 2em;
}
.info{
	display: block;
	text-align: center;
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; 
}

 @media only screen and (max-device-width: 700px){
    h1{
    	font-size: 3em;
    }

    .info{
    	font-weight: bold;
    	font-size: 2.5em;
    }

    .imagen-principal img {
    	width: 712px;
    	height: 551px;
    }
}